<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>jQuery</title>

        <link href="https://code.jquery.com/ui/1.10.4/themes/flick/jquery-ui.css" rel="stylesheet">

        <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <script src="resto.js"></script>
    </head>

    <body>

        <h1>Resto trop bien !</h1>
        <h2>Miam ici on mange bien</h2>

        <div id="tabs-5">

            <ul>
                <li><a href="#Présentation">Présentation</a></li>
                <li><a href="#Menu">Menu</a></li>
                <li><a href="#Lorem">Lorem</a></li>
            </ul>

            <div id="Présentation">
                <h3>Présentation</h3>
                <p>Mon restaurant il est trop bien yay j'adore !</p>
                <p>On mange des belles choses c'est le kif !</p>
            </div>

            <div id="Menu">
                <h3>Menu</h3>
                <p>Salade de thon*</p>
                <p>Pâtes au thon*</p>
                <p>Crêpe au thon*</p>
                <small>*un supplément de thon peut être demandé</small>
            </div>

            <div id="Lorem">
                <h3>Ou pas !</h3>
                <p>Le cuisto à tous mangé...</p>
                <img src="https://avatars0.githubusercontent.com/u/32284367?s=460&v=4" alt="Achmed-le-Serpent">
            </div>

        </div>

    </body>
</html>
